*
{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body
{
	font-size: 20px;
	overflow: hidden;
	color:#fff;
	font-family: 'Flamenco', cursive;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../image/434130.jpg');
	background-size: cover;
	background-repeat:no-repeat; 
	height:100vh;
}
.clearfix:after 
{	
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear:both;
}
.row
{
	max-width: 1180px;
	margin: 0 auto;
}
.logo
{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav
{
	float: right;
	margin-top: 60px;
}
.main-nav li
{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a
{	
	padding: 5px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
	color:#fff;

}

.main-nav li a:hover
{
	border-bottom: 2px solid #bf55ec;
}

.main-content-header
{
	width: 1180px;
	position: absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%);
}
h1
{
	color: #fff;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform:uppercase;
	font-weight: lighter;
}

.btn 
{
	display: inline-block;
	padding:10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-1
{
	background-color: transparent;
	color:#bf55ec;
	margin: right;
	border: 1px solid #bf55ec;
}

.btn-1:hover
{
	background-color: #fff;
}
.btn-2
{
	background-color: transparent;
	color:#fff;
	margin: right;
	border: 1px solid #fff;
}
.btn-2:hover
{
	background-color:#bf55ec; 
}

.colorchange
{
	animation: colorchangebayside 1s infinite;
}
@keyframes colorchangebayside
{
	0%{color:red;}
	25%{color:#bf55ec;}
	50%{color: white;}
	100%{color:#bf55ec;}

}

/*responsve query*/
@media only screen and(max-width: 1180px)
{
	.main-content-header
	{
		width: 100%;
		padding: 0 2%;

	}	
}

@media only screen and(max-width: 998px)
{
	h1
	{
		font-size: 200%;
	}
}
@media only screen and(max-width: 768px)
{
	h1	
	{
		font-size: 180%;
	}
	.main-nav{display: none;}
}