*{
	font-family: 'Flamenco', cursive;
	margin:0;
	padding: 0;
}
body
{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../image/434130.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
}

header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../image/434130.jpg');
	background-size: cover;
	background-repeat:no-repeat; 
	height:100vh;
}
.clearfix:after 
{	
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear:both;
}
.row
{
	max-width: 1180px;
	margin: 0 auto;
}
.logo
{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav
{
	float: right;
	margin-top: 60px;
}
.main-nav li
{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a
{	
	padding: 5px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
	color:#fff;

}

.main-nav li a:hover
{
	border-bottom: 2px solid #bf55ec;
}

.login-page
{
	width:360px;
	padding: 10% 0 0;
	margin:auto;
}
.login-page form
{
	position:relative;
	z-index:1;
	background:transparent;
	max-width: 360px;
	padding:45px;
	text-align:center;
}
.login-page form input
{
	outline: 1;
	background: #f2f2f2;
	width:100%;
	border:0;
	margin:0 0 15px;
	padding:15px;
	box-sizing:border-box;
	font-size:14px	;
}
.login-page form button
{
	border-radius:20px;
	text-transform: uppercase;
	outline: 0;
	background:#4CAF50;
	width: 100%;
	border:0;
	padding: 15px;
	color:#fff;
	font-size:14px;
	cursor: pointer;
}
.message
{
	font-size:20px;
	color:#fff;
}
.message a
{
	font-size:20px;
	color:#fff;
}